html, body{
	min-height:100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.next-area-button{
	position:absolute;
	bottom: 10%;
	right: 15%;
	border:2px solid white;
	border-radius:15px;
	padding:0.5rem;
	font-size:20px;
	animation: pulse 5s infinite;
}

@keyframes pulse{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;	
	}	
}
